 <% if !logged_in? %>
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center logo">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>SW<span>A</span>G</h1>
      	<h2>You're not signed up yet!</h2>
      	<h4>You should fix that...</h4>
      	<button class="btn btn-success btn-lg regText"><a href="/signup" style="color: white">I deserve swag</a></button>
      	or
      	<button class="btn btn-default btn-lg regText" data-dismiss="modal" aria-label="Close">I hate swag</button>
      </div>
    </div>
  </div>
</div>
<% end %>


<div class="container-fluid" >
	<div id="feed" class="row">
		<% @products.each do |product| %>
		<div class="item">
			<a href="/stores/<%= product.store.name %>/<%= product.id %>">
				<img src="<%= product.image_url %>" class="img-responsive img-full">
			</a>
			<div class="productInfo">
				<div class="row productHoverTop">
					<div class="col-md-6 productLikes">
						<span id="<%= product.id %>" class="heartIcon glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <span class="<%= product.id %>likeNumber"><%= product.likes %></span> likes
					</div>
					<div class="col-md-6 text-right">
						<a href="/stores/<%= product.store.name %>/<%= product.id %>">
							<span class="label label-as-badge label-info">$<%= "%.0f" % product.price %></span>
						</a>
					</div>
				</div>
				<div class="productHoverBottom">
					<div class="row">
						<div class="col-md-12 productNameDisplay"><%= product.name %></div>
					</div>
					<div class="row">
						<div class="col-md-6 storeNameDisplay">
							<a href="/stores/<%= product.store.name %>"><%= product.store.name %></a>
						</div>
						<div class="col-md-6 text-right">
							<button type="button" class="btn btn-success">Add to Bag</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% end %>
	</div>
</div>