<div class="container">
	<div class="row">
		<div class="col-md-5">
			<img src="<%= @product.image_url %>" class="img-responsive img-full">
			<div class="row categories">
				<p><strong>Category: </strong>	<%= @product.category.name %></p>
			</div>
			<div class="row">
				<div class="col-md-2">
					<a href="/stores/<%= @store.name %>/<%= @product.id %>/edit"><button class="btn btn-primary">Edit</button></a>
				</div>
				<div class="col-md-2">
					<form action="/product/<%= @product.id %>/delete" method="post">
				<input type="hidden" name="_method" value="delete">
				<button class="btn btn-warning">Delete</button>
			</form>
				</div>
			</div>
		</div>
		<div class="col-md-6 productDetails">
			<div class="likes productLikes">
				<p><span id="<%= @product.id %>" class="heartIcon glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <span class="<%= @product.id %>likeNumber"><%= @product.likes %></span> people like this</p>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="price">$<%= "%.2f" % @product.price %> <span>plus shipping</span>
					</div>
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-success btn-lg">Add to Bag</button>
				</div>
			</div>

			<h3><%= @product.name %></h3>
			<p><%= @product.description.gsub(/\n/, '<br/>') %></p>
		</div>
	</div>
</div>