<div class="container">
	<% @stores.each do |store| %>
	<a href="/stores/<%= store.name %>">
		<div class="storeBox">
			<div class="media">
				<div class="media-left col-md-2">
						<img class="img-responsive" src="<%= store.products.first.image_url %>" alt="placeholder">
				</div>
				<div class="media-body">
					<h3 class="media-heading"><%= store.name %></h3>
					<p><%= store.description %></p>
					<a href="/stores/<%= store.name %>/edit"><button class="btn btn-info">Edit Store</button></a>
				</div>
			</div>
		</div>
	</a>
	<% end %>

</div>